<% workerCoverClass = locals.large ? 'worker-cover-large' : '' %>
<% workerGridClass = locals.large ? 'worker-grid-large' : '' %>

<div class="worker-grid <%=workerGridClass%>">
    <% workers.forEach(worker => { %>
        <a href="/workers/<%= worker.id %>" style="text-decoration: none;">
            <div class="btn-primary">
                <img class="worker-cover <%=workerCoverClass%>" src="<%= worker.profileImagePath %>">
                <p > 
                    <%= worker.name %> 
                    <br>
                    <%= worker.workType %>
                    <br>
                    Area: <%= worker.area.name %>
                    <br>
                    <%= worker.mobileNumber %>
                </p>
            </div>
        </a>
    <% }) %> 
</div>
