<div class="form-row">
    <div class="form-item">
        <label> Name </label>
        <input type="text" name="name" value="<%= worker.name %>" >
    </div>
    <div class="form-item">
        <label> Gender </label>
        <select name="gender">
            <% if(worker.gender === "Female") { %> 
                <option label="Male" value="Male"></option>
                <option selected label="Female" value="Female"></option>
            <% } else if (worker.gender === "Male") { %>
                <option selected label="Male" value="Male"></option>
                <option label="Female" value="Female"></option>
            <% } else if (worker.gender == null) {%>
                <option selected value> -- Select Gender -- </option>
                <option label="Male" value="Male"></option>
                <option label="Female" value="Female"></option>
            <% } %> 
        </select>
    </div>
    <div class="form-item">
        <label> Area </label>
        <select name="area">
        <% areas.forEach(area => { %> 
            <% if(area.id == worker.area) {%> 
                <option selected label="<%= area.name %>" value="<%= area.id%>"></option>
            <% } else { %> 
                <option label="<%= area.name %>" value="<%= area.id%>"></option>
            <% }%> 
        <% }) %> 
        <% if(worker.area == null) {%> 
            <option selected value> -- Select Area -- </option>
        <% } %> 
        </select>
    </div>
</div>

<br>

<div class="form-row">
    <div class="form-item">
        <label> Work Type </label>
        <input type="text" name="workType" value="<%= worker.workType %>" >
    </div>
    <div class="form-item">
        <label> Mobile Number </label>
        <input type="text" name="mobileNumber" value="<%= worker.mobileNumber %>" >
    </div>
</div>

<br>

<div class="form-row">
    <div class="form-item form-item-no-grow">
        <label> Profile Photo </label>
        <input type="file" name="profilePhoto" multiple class="worker-cover filepond">
    </div>
    <div class="form-item">
        <label> Description </label>
        <textarea name="description"> <%= worker.description %> </textarea>
    </div>
</div>