<h2 class="page-header"> Search Workers </h2>
<form action="/workers" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label> Name </label>
            <input type="text" name="name" value="<%= searchOptions.name %>">
        </div>
    </div>

    <div class="form-row">
        <div class="form-item">
            <label> Work Type </label>
            <input type="text" name="workType" value="<%= searchOptions.workType %>">
        </div>
        <div class="form-item">
            <label> Gender </label>
            <select name="gender">
                <% if(searchOptions.gender === "Female") { %> 
                    <option value> - select - </option>
                    <option label="Male" value="Male"></option>
                    <option selected label="Female" value="Female"></option>
                <% } else if(searchOptions.gender === "Male"){ %>
                    <option value> - select - </option>
                    <option selected label="Male" value="Male"></option>
                    <option label="Female" value="Female"></option>
                <% } else { %>
                    <option selected value> - select - </option>
                    <option label="Male" value="Male"></option>
                    <option label="Female" value="Female"></option>
                <% } %>
            </select>
        </div>
        <!-- // TO-DO: To implement the 'Area' Filter -->
        <div style="display: none;" class="form-item">
            <label> Area </label>
            <select name="area">
                <% areas.forEach(area => { %> 
                    <% if(area.id == searchOptions.area) {%> 
                        <option selected label="<%= area.name %>" value="<%= area.id%>"></option>
                    <% } else { %> 
                        <option label="<%= area.name %>" value="<%= area.id%>"></option>
                    <% }%> 
                <% }) %> 
                <% if(searchOptions.area == null || searchOptions.area == '') { %> 
                    <option selected value> - select - </option>
                <% } %>
            </select>
        </div>
    </div>

    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit"> Search </button>
    </div>
    
</form>

<br>

<%- include('../partials/workerGrid', {workers: workers, large: false}) %>